<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SES Skyscanner</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="client/css/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">



    </head>

    <body>
        <div id = "content" class = "container2 d-flex">
           <div class = "mx-auto text-center">
                <h1 class = 'p-4' style = "font-size: 70px">Flight-Finder</h1>
    
                <form id = "findflight" class = "p-2" style = "height:70px">
                    <select name="">
                        <option value="USD" selected="selected">United States Dollars</option>
                        <option value="EUR">Euro</option>
                        <option value="GBP">United Kingdom Pounds</option>
                        <option value="DZD">Algeria Dinars</option>
                        <option value="ARP">Argentina Pesos</option>
                        <option value="AUD">Australia Dollars</option>
                        <option value="ATS">Austria Schillings</option>
                        <option value="BSD">Bahamas Dollars</option>
                        <option value="BBD">Barbados Dollars</option>
                        <option value="BEF">Belgium Francs</option>
                        <option value="BMD">Bermuda Dollars</option>
                        <option value="BRR">Brazil Real</option>
                        <option value="BGL">Bulgaria Lev</option>
                        <option value="CAD">Canada Dollars</option>
                        <option value="CLP">Chile Pesos</option>
                        <option value="CNY">China Yuan Renmimbi</option>
                        <option value="CYP">Cyprus Pounds</option>
                        <option value="CSK">Czech Republic Koruna</option>
                        <option value="DKK">Denmark Kroner</option>
                        <option value="NLG">Dutch Guilders</option>
                        <option value="XCD">Eastern Caribbean Dollars</option>
                        <option value="EGP">Egypt Pounds</option>
                        <option value="FJD">Fiji Dollars</option>
                        <option value="FIM">Finland Markka</option>
                        <option value="FRF">France Francs</option>
                        <option value="DEM">Germany Deutsche Marks</option>
                        <option value="XAU">Gold Ounces</option>
                        <option value="GRD">Greece Drachmas</option>
                        <option value="HKD">Hong Kong Dollars</option>
                        <option value="HUF">Hungary Forint</option>
                        <option value="ISK">Iceland Krona</option>
                        <option value="INR">India Rupees</option>
                        <option value="IDR">Indonesia Rupiah</option>
                        <option value="IEP">Ireland Punt</option>
                        <option value="ILS">Israel New Shekels</option>
                        <option value="ITL">Italy Lira</option>
                        <option value="JMD">Jamaica Dollars</option>
                        <option value="JPY">Japan Yen</option>
                        <option value="JOD">Jordan Dinar</option>
                        <option value="KRW">Korea (South) Won</option>
                        <option value="LBP">Lebanon Pounds</option>
                        <option value="LUF">Luxembourg Francs</option>
                        <option value="MYR">Malaysia Ringgit</option>
                        <option value="MXP">Mexico Pesos</option>
                        <option value="NLG">Netherlands Guilders</option>
                        <option value="NZD">New Zealand Dollars</option>
                        <option value="NOK">Norway Kroner</option>
                        <option value="PKR">Pakistan Rupees</option>
                        <option value="XPD">Palladium Ounces</option>
                        <option value="PHP">Philippines Pesos</option>
                        <option value="XPT">Platinum Ounces</option>
                        <option value="PLZ">Poland Zloty</option>
                        <option value="PTE">Portugal Escudo</option>
                        <option value="ROL">Romania Leu</option>
                        <option value="RUR">Russia Rubles</option>
                        <option value="SAR">Saudi Arabia Riyal</option>
                        <option value="XAG">Silver Ounces</option>
                        <option value="SGD">Singapore Dollars</option>
                        <option value="SKK">Slovakia Koruna</option>
                        <option value="ZAR">South Africa Rand</option>
                        <option value="KRW">South Korea Won</option>
                        <option value="ESP">Spain Pesetas</option>
                        <option value="XDR">Special Drawing Right (IMF)</option>
                        <option value="SDD">Sudan Dinar</option>
                        <option value="SEK">Sweden Krona</option>
                        <option value="CHF">Switzerland Francs</option>
                        <option value="TWD">Taiwan Dollars</option>
                        <option value="THB">Thailand Baht</option>
                        <option value="TTD">Trinidad and Tobago Dollars</option>
                        <option value="TRL">Turkey Lira</option>
                        <option value="VEB">Venezuela Bolivar</option>
                        <option value="ZMK">Zambia Kwacha</option>
                        <option value="EUR">Euro</option>
                        <option value="XCD">Eastern Caribbean Dollars</option>
                        <option value="XDR">Special Drawing Right (IMF)</option>
                        <option value="XAG">Silver Ounces</option>
                        <option value="XAU">Gold Ounces</option>
                        <option value="XPD">Palladium Ounces</option>
                        <option value="XPT">Platinum Ounces</option>
                    </select>
                    <input style ="height:70px; width: 160px; font-size: 15px; display: inline-block; vertical-align:middle" type="text" id = "destination" name = "destination" placeholder="Destination">
                    <input style ="height:70px; width: 160px; font-size: 15px; display: inline-block; vertical-align:middle" type="text" id = "origin" name = "origin" placeholder="Origin">

                    <input style ="height:70px; width: 160px; font-size: 15px; display: inline-block; vertical-align:middle" type="text" id = "outbound" name = "outbound" placeholder="Outbound yyyy-mm-dd">
                    <input style ="height:70px; width: 160px; font-size: 15px; display: inline-block; vertical-align:middle" type="text" id = "inbound" name = "inbound" placeholder="Inbound yyyy-mm-dd">
                    <input class="btn-lg btn btn-primary" style = "height: 70px; width: 155px; font-size:20px; vertical-align: middle" type="submit"  value="Show Flights"><br>
                </form>
                <br><br>
                <div id = "displayflight"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            $(document).ready(function(){
                $('#findflight').submit(function(){
                    var dest = $('#destination').val();
                    var orig = $('#origin').val(); 
                    var out = $('#outbound').val(); 
                    var inb = $('#inbound').val(); 
                    console.log(dest); 
                    if(dest == '' || orig == '' || out == '' || inb == ''){
                        console.log('alert'); 
                        alert('Not all fields filled out!'); 
                    }
                    else{
                        var pack = "API Query Failed :("; 
                        $('#destination').val(''); 
                        $('#origin').val(''); 
                        $('#outbound').val(''); 
                        $('#inbound').val(''); 
 
                       // var pack = browseDates(dest,orig,out,inb); 
                        console.log(pack); 
                        alert("api query failed :("); 
//                       document.getElementById('displayflight').innerText = pack; 
                    }

                });

            });

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src ="client/js/skyscanner_browsedates.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </body>
</html> 
